#navigation {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
#navigation .containerWrapper {
  padding: 0 20px;
}
#navigation.parent {
  width: auto;
}

.nav_options {
  display: flex;
  align-items: center;
}
.nav_options ul {
  display: flex;
  /* list-style: none; */
}
.nav_options ul a {
  margin: 0 40px;
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  font-size: 20px;
  color: #bd8820;
  transition: color 0.2s linear;
}
.nav_options ul a:disabled,
.nav_options ul a:active,
/* .nav_options ul a:visited, */
.nav_options ul a:hover {
  color: gold;
  cursor: pointer;
}

.nav_options ul a:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0px;
  height: 2px;
  background: gold;
  transition: all 0.45s;
}

.nav_options ul a:hover::before {
  width: 100%;
  left: 0;
}
.logo {
  position: relative;
  height: 100px;
  width: 100px;
  max-height: 120px;
  max-width: 120px;
  background-image: url("./../../../public/twa_logo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logo a {
  position: absolute;
  width: inherit;
  height: inherit;
}
/* .css-13cymwt-control{
    border:none !important;
  }
  .css-13cymwt-control span {
    background: transparent;
  } */

#navigation .css-1dimb5e-singleValue {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #bd8820;
}
#navigation .css-b62m3t-container > * {
  color: #bd8820 !important;
}

@media screen and (max-width:1024px) {
  .nav_options ul a {
margin: 0 12px;
  }
}

@media screen and (max-width:768px) {

  #navigation .containerWrapper {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .logo,
  .menuIcon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  #menuClose {
    fill:#bd8820;
    width: 30px;
  }

  #menuClose .cls-1 {
    fill:none;
  }
  #menuOpen {
    border: 2px solid #bd8820;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
  }

  #menuOpen .cls-1 {
    fill: #bd8820;

  }
  #menuOpen .cls-2 {
    fill:none;
  }

.ReactModal__Overlay nav,
.ReactModal__Overlay .nav_options,
.ReactModal__Overlay ul  {
  height: 100%;
  width: 100%;
}
  .ReactModal__Overlay .nav_options ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    justify-content: space-around;    
  }
}
