#navigation {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
.nav_options {
    display: flex;
    align-items: center;

}
.nav_options ul {
    display: flex;
    /* list-style: none; */
}
.nav_options ul a {
    margin: 0 40px;
    text-decoration: none;
position: relative;
padding-bottom: 3px;
font-size: 20px;
color: #bd8820;
transition: color .2s linear;
}
.nav_options ul a:disabled,
.nav_options ul a:active,
/* .nav_options ul a:visited, */
.nav_options ul a:hover {
color: gold;
}



.nav_options ul a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: gold;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
  }

  .nav_options ul a:hover::before {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
  .logo {
    position: relative;
    height: 100px;
    width: 100px;
    max-height: 120px;
    max-width: 120px;
    background-image: url("./../../../public/twa_logo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo a {
    position: absolute;
    width: inherit;
    height: inherit;
  }
  /* .css-13cymwt-control{
    border:none !important;
  }
  .css-13cymwt-control span {
    background: transparent;
  } */


  .css-1dimb5e-singleValue {
    display: flex;
    align-items: center;
    gap: 10px;
  }



