#aboutUs,
#whatWeDo {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;

}
#aboutUs img,
#whatWeDo img  {
    height: 100%;
    width: 100%;
}
.col1 .wrp{
    position: sticky;
    top: 150px;
}

.col2 .wrp{
    position: sticky;
    top: 150px;
}