.commentWrapper {
    border-radius: 8px;
    box-shadow: 0px 0px 8px 11px rgba(191, 139, 37, 0.60);
    text-align: center;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
}
.personName {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    width: 100%;
}
.personStudy{
    font-size: 20px;
}
.personComment {
    margin-top: 30px;
}
.slick-slide>div {
    margin: 0 50px;
}
.slick-list .slick-track  {
    padding-top: 40px;
    height: 425px;
    margin-top: 50px;
}

.mySlider .slick-prev, 
.mySlider .slick-next {
font-size: 0;
line-height: 0;
position: absolute;
border-radius: 8px;
top: 104%;
bottom: 0;
display: block;
left: 0;
right: 0;
width: 60px;
height: 60px;
padding: 0;
transform: none;
cursor: pointer;
color: transparent;
border: none;
outline: none;
background: #BF8B25;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}
.mySlider .slick-next  {
    left:80px;
}
.mySlider .slick-prev {
    right:80px;
}
.mySlider .slick-prev:before {
    content:"";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M24.3833 13.0607C24.9691 12.4749 24.9691 11.5251 24.3833 10.9393L14.8373 1.3934C14.2516 0.807612 13.3018 0.807612 12.716 1.3934C12.1302 1.97918 12.1302 2.92893 12.716 3.51472L21.2013 12L12.716 20.4853C12.1302 21.0711 12.1302 22.0208 12.716 22.6066C13.3018 23.1924 14.2516 23.1924 14.8373 22.6066L24.3833 13.0607ZM0.77832 13.5H23.3226V10.5H0.77832V13.5Z' fill='white'/%3E%3C/svg%3E");
    display: block;
    width: 25px;
    height: 25px;
    background-position: center;
    margin: 0 auto;
    transform: rotate(180deg);

}
.mySlider .slick-next:before {
    content:"";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M24.3833 13.0607C24.9691 12.4749 24.9691 11.5251 24.3833 10.9393L14.8373 1.3934C14.2516 0.807612 13.3018 0.807612 12.716 1.3934C12.1302 1.97918 12.1302 2.92893 12.716 3.51472L21.2013 12L12.716 20.4853C12.1302 21.0711 12.1302 22.0208 12.716 22.6066C13.3018 23.1924 14.2516 23.1924 14.8373 22.6066L24.3833 13.0607ZM0.77832 13.5H23.3226V10.5H0.77832V13.5Z' fill='white'/%3E%3C/svg%3E");
    display: block;
    width: 25px;
    height: 25px;
    background-position: center;
    margin: 0 auto;
}


